body{
    background-color: #F1CF35;
    margin: -0.1px;
}

nav{
    background-color: #C5A204;
    float: left;
}

main{
    background-color: #A38603;
}

footer{
    background-color: #816A03;
    clear: both;
    padding: 1%;
}

#header-img-1{
    width: 5%;
    height: 5%;
}



