body{
    background-color: #F1CF35;
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}

main{
    background-color: #A38603;
    padding: 2em;
}

footer{
    background-color: #816A03;
    clear: both;
    padding: 1em;
}

#header-img-1{
    width: 5%;
    height: 5%;
}

textarea{
    resize:vertical;
    width: 80%;
    background-color: #C5A204;
}

form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #F1CF35;
    margin: 0;
    text-align: center;
    height: 10em;
}

h1, h2, h3, h4{
    margin: 0;
}

h3{
    font-family: Gabriola, cursive;
}

header a {
    text-decoration: none;
    color: black;
}

footer{
    text-align: center;
}

nav{
    background-color: #C5A204;
}
nav ul{
    background-color: #C5A204;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav a{
    text-decoration:none;
    display: inline-block;
    white-space: normal;
    color:black
}

nav a:hover{
    color:black
}

nav a:active{
    color:white
}

nav li{
    border: 1px solid black;
    background-color: #F1CF35;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #816A03;
    border-bottom: 1px solid  #816A03;
    padding: 0.5em;
}

nav li:hover{
    border: 1px solid black;
    background-color: #A38603;
    border-top: 1px solid #816A03;
    border-left: 1px solid#816A03;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

nav li:active{
    border: 1px solid black;
    background-color: black;
    border-top: 1px solid #816A03;
    border-left: 1px solid#816A03;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

